:root {--indicator: 0, 164, 220;}
:root {--selection: 0, 164, 220;}

.emby-textarea {
  font-family: monospace;
  font-size: 10pt;
}

/*Theme user setting tab buttons*/
div[data-role="controlgroup"] a.ui-btn-active {
  background: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}

div[data-role="controlgroup"] a[data-role="button"] {
  display: table-cell !important;
  margin: 0 !important;
}

/*Mobile tweaks*/
.layout-mobile .detailPagePrimaryContainer {
    background: transparent;
}
.layout-mobile .adminDrawerLogo {
    border-bottom: none;
}

/*Stop covers from being scrolled*/
.detailImageContainer .card {
    position: fixed !important;
}
/*Top "task bar" enlarge text*/
.headerTabs.sectionTabs {
  text-size-adjust: 110%;
  font-size: 110%;
}
.pageTitle {
  margin-top: auto; 
  margin-bottom: auto;
}

/*Theme process progress ring*/
.progressring-spiner {
  border-color: rgba(var(--accent));
  border-width: .35em;
}
.progressring {
    margin: .4em;
}
.progressring-bg {
   display: none;
}

/*Theme link color*/
#itemDetailPage .button-link {color: inherit !important;}

/*Accommodate mobile and align buttons and indicators*/
.cardIndicators,
.listItemIndicators {
  right: 0.5em; 
  top: 0.5em;
}

.mediaSourceIndicator {
  left: 0.5em;
  top: 0.5em;
}

@media all and (min-width: 70em){
  .cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  .cardOverlayContainer {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* Play button hovering (for low width windows) */
@media all and (max-width: 70em){
  .cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  .cardOverlayContainer {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .cardOverlayButton {
    padding: 0.25em;
  }
}

/*Media player*/
.nowPlayingPageImage {
  border: none;
}

.upNextDialog-countdownText {
  color: white;
}

/*Shrink the mouseover chapter image when scrobbling, still media player*/
.chapterThumb {
    height: 14vh;
    min-width: 14vh;
	box-shadow: 0 0 1.9vh #000;
}
.chapterThumbText {
    font-size: 1em;
}
.sliderBubble {
  background: #0000;
}
.chapterThumbTextContainer {
    right: auto;
	bottom: 4px;
	padding: .25em 0.7em;
}
.chapterThumbContainer {
    box-shadow: 0 0 1.9vh #000;
}
.sliderBubble {
    -webkit-transform: translate3d(-50%,-108%,0);
    transform: translate3d(-50%,-108%,0);
}

/*Narrow margins, theme main page*/
.cardBox-bottompadded {
    margin-bottom: 0.6em !important;
}
.itemsContainer > .card > .cardBox {
    margin-right: 0.8em;
}
.raised.homeLibraryButton {
    background: rgba(0, 0, 0, 0.3) !important;
}
.raised.homeLibraryButton:hover {
    background: rgba(0, 0, 0, 0.5) !important;
}
.raised.homeLibraryButton:hover {transition: filter 0.2s}
.raised.homeLibraryButton {transition: filter 0.2s}
.homeLibraryButton {
    min-width: 12em;
    margin: 0.4em;
}
@media all and (max-width: 26em){
  .homeLibraryButton {
    min-width: 45%;
    width: auto !important;
  }
}
.homeLibraryButton {
  width: auto !important;
}
.listItem:hover {
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.4);
}
.visualCardBox, .cardImageContainer {
    box-shadow: none;
}
.backgroundProgress > div {
    background: rgba(0, 0, 0, 0);
}
.itemProgressBar {
    background: rgba(0, 0, 0, 0.25);
}
#divRunningTasks span {
    color: rgba(255,255,255,0.75) !important;
}
.itemsContainer > .card > .cardBox {
    margin-left: 0.6em !important;
}
.itemsContainer > .card > .cardBox {
    margin-right: 0.8em;
}

/*ANIMATIONS*/
/*Fade as images load*/
.blurhash-canvas {
    transition: 0.2s;
}
.cardImageContainer {
    transition: 0.7s;
}
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.selectLabel
.inputLabel,
.textareaLabel {
  transition: 0.1s;
}

/*Hover background for section title buttons*/
.button-flat:hover {
	background: rgba(0, 164, 220, 0.2);
	color: #00a4dc !important;
}
.button-flat {
    margin: .2em !important;
    padding: .85em !important;
}
.dashboardSection h3 {
    margin: .5em .0em .5em .5em;
}
.dashboardSection .sectionTitleTextButton > .material-icons.material-icons {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: .2em;
}

/*Rating star, normally yellow*/
.starIcon {
    color: rgba(255,255,255,.8);
}

/*Remove background on some icons*/
.listItemIcon {
    background: #0000 !important;
}

/*Remove divider on list items*/
.listItem-border {
    border-color: rgba(255, 255, 255, 0) !important;
}

/*Fix footers/headers displaying on small pop-ups*/
.formDialogFooter-clear,
.formDialogHeader-clear,
.innerCardFooterClear {
    background-color: transparent !important;
}
