/*Card indicators style normal*/

.countIndicator {
  background: rgba(var(--indicator),0.4); 
  box-shadow: none;
}
.playedIndicator, .innerCardFooter {
  background: rgba(0,0,0,0.4)
  box-shadow: none;
}
.innerCardFooter {
    margin: .5em;
}