/*Tweak entry fields, checkamarks*/
.emby-input,
.emby-textarea {
  padding: .4em .55em;
}
.emby-select {
  padding: .35em 1.9em .35em .35em;
}
.selectArrow {
    margin-top: 1.05em;
}
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor {
  background: rgba(0, 0, 0, 0.2); 
  border: 0.01em solid rgba(255, 255, 255, 0.22);
}
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus {
  background: rgba(0, 0, 0, 0.5) !important; 
}

.emby-textarea:focus,
.emby-select-withcolor:focus,
.emby-input:focus,
.itemSelectionPanel {
  border: 0.01em solid rgba(40, 40, 40, 0.8) !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
  background-color: rgba(20, 20, 20, 0.8) !important;
  border: 0.01em solid rgba(255, 255, 255, 0.22) !important;
}