@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap'); body, h1, h2, h3, h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.emby-textarea {
  font-family: monospace;
  font-size: 10pt;
}
