.navMenuOption:hover, .actionSheetMenuItem:hover {
  background-color: rgba(var(--accent),1) !important;
}

/*Login background*/
#loginPage {
  background: url(https://imgur.com/S3WiZIM.png) !important;
  background-size: cover !important;
}

/*Theme the library scan progress bar*/
progress {
  background: #cecece !important;
  border: 1px solid rgba(255, 255, 255);
}
progress::-webkit-progress-bar {
  background: #cecece !important;
  border: 0px solid rgba(255, 255, 255);
}
progress::-webkit-progress-value {
  background-color: rgba(255,255,255);
}
#divRunningTasks span {
  color: black !important;
}
.taskProgressOuter {
  background: #cecece !important;
  border: 1px solid rgba(255, 255, 255);
}
.taskProgressInner {
  background: rgba(255,255,255) !important;
}
#scheduledTasksPage span {
  color: rgba(255,255,255) !important;
}