/*Rounded corners on pretty much everything*/

progress {
  border-radius: var(--rounding);
}
progress::-webkit-progress-bar {
  border-radius: var(--rounding);
}
progress::-moz-progress-bar {
  border-radius: var(--rounding);
}
progress::-webkit-progress-value {
  border-radius: var(--rounding);
}
.taskProgressOuter,
.taskProgressInner {
  border-radius: var(--rounding) !important;
}
.formDialogHeader {
  border-top-left-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}
.formDialogFooter {
  border-bottom-left-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
}
.cardOverlayContainer {
	border-radius: var(--rounding) !important;
}
.missingIndicator, 
.unairedIndicator,
.detailTable,
.primaryImageWrapper > img,
.toast,
.paperList,
.cardContent,
.sessionNowPlayingInnerContent, 
.listItem:hover, 
.cardImage,
.fab,
.raised,
.multiSelectCheckboxOutline,
.itemSelectionPanel,
.cardContent-button, 
.cardContent-shadow, 
.itemDetailImage, 
.cardOverlayButton-hover,
.cardImageContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.dialog,
.countIndicator,
.playedIndicator,
.listItemIcon,
.listItem-border,
.button-flat,
.visualCardBox,
.checkboxOutline,
.emby-select-withcolor,
.chapterThumbTextContainer,
.chapterThumbContainer,
.chapterThumb,
.emby-input, 
.emby-textarea, 
.emby-select-withcolor,
.nowPlayingPageImage,
.upNextDialog-poster-img,
.upNextContainer,
.cardOverlayButtonIcon {
  border-radius: var(--rounding) !important;
}
.actionSheetMenuItem:hover {
    border-radius: 0 !important;
}
fieldset {
    border-radius: var(--rounding);
}
.osdPoster img {
  border-radius: var(--rounding); border: none;
}
.mdl-slider::-moz-range-thumb {
  border-radius: var(--rounding);
}
.mdl-slider::-ms-thumb {
  border-radius: var(--rounding);
}
.mdl-slider::-webkit-slider-thumb {
  border-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:first-child {
	border-bottom-left-radius: var(--rounding);
	border-top-left-radius: var(--rounding);
}
div[data-role="controlgroup"] a[data-role="button"]:last-child {
	border-bottom-right-radius: var(--rounding);
	border-top-right-radius: var(--rounding);
}
#dashboardPage .cardContent, #dashboardPage .sessionNowPlayingInnerContent {
    border-radius: var(--rounding) var(--rounding) 0 0 !important;
}
#divVirtualFolders .cardImageContainer, #divVirtualFolders .cardContent {
    border-radius: var(--rounding) var(--rounding) 0 0 !important;
}
#userProfilesPage .cardImage, #userProfilesPage .cardContent {
    border-radius: var(--rounding) var(--rounding) 0 0 !important;
}