/*Shrink and square (or round) cast thumnails*/
@media all and (min-width: 131.25em){
  #castContent .card.overflowPortraitCard {
    width: 6.3vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 120em) and (max-width: 131.25em){
  #castContent .card.overflowPortraitCard {
    width: 6.4vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 100em) and (max-width: 120em){
  #castContent .card.overflowPortraitCard {
    width: 7.6vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 87.5em) and (max-width: 100em){
  #castContent .card.overflowPortraitCard {
    width: 9.3vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 75em) and (max-width: 87.5em){
  #castContent .card.overflowPortraitCard {
    width: 10.5vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 50em) and (max-width: 75em){
  #castContent .card.overflowPortraitCard {
    width: 15vw !important;
    font-size: 90% !important;
  }
}
@media all and (min-width: 43.75em) and (max-width: 50em){
  #castContent .card.overflowPortraitCard {
    width: 20.1vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 25em) and (max-width: 43.75em){
  #castContent .card.overflowPortraitCard {
    width: 31.2vw !important; 
    font-size: 90% !important;
  }
}
@media all and (max-width: 25em){
  #castContent .card.overflowPortraitCard {
    width: 40vw !important; 
    font-size: 90% !important;
  }
}

.cardPadder {
  background-color: #0000 !important; box-shadow: none !important;
}

/*Correct image aspect ratio behaviour, set border-radius to zero for square tiles*/

@media all and (min-width: 131.25em){
  #castContent .cardScalable {
    width: calc(6.3vw - 0.6em) !important; 
    height: calc(6.3vw - 0.6em) !important;
  }
}
@media all and (min-width: 120em) and (max-width: 131.25em){
  #castContent .cardScalable {
    width:  calc(6.4vw - 0.6em) !important; 
    height: calc(6.4vw - 0.6em) !important;
  }
}
@media all and (min-width: 100em) and (max-width: 120em){
  #castContent .cardScalable {
    width:  calc(7.6vw - 0.6em) !important; 
    height: calc(7.6vw - 0.6em) !important;
  }
}
@media all and (min-width: 87.5em) and (max-width: 100em){
  #castContent .cardScalable {
    width:  calc(9.3vw - 0.6em) !important; 
    height: calc(9.3vw - 0.6em) !important;
  }
}
@media all and (min-width: 75em) and (max-width: 87.5em){
  #castContent .cardScalable {
    width:  calc(10.5vw - 0.6em) !important; 
    height: calc(10.5vw - 0.6em) !important;
  }
}
@media all and (min-width: 50em) and (max-width: 75em){
  #castContent .cardScalable {
    width:  calc(15vw - 0.6em) !important; 
    height: calc(15vw - 0.6em) !important;
  }
}
@media all and (min-width: 43.75em) and (max-width: 50em){
  #castContent .cardScalable {
    width:  calc(20.1vw - 0.6em) !important; 
    height: calc(20.1vw - 0.6em) !important;
  }
}
@media all and (min-width: 25em) and (max-width: 43.75em){
  #castContent .cardScalable {
    width:  calc(31.2vw - 0.6em) !important; 
    height: calc(31.2vw - 0.6em) !important;
  }
}
@media all and (max-width: 25em){
  #castContent .cardScalable {
    width:  calc(40vw - 0.6em) !important;
    height: calc(40vw - 0.6em) !important;
  }
}