/*Alternate itempage*/
.itemBackdrop {
  height: 31vh !important;
  display: inherit;
}
.layout-desktop .detailRibbon {
  margin-top: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  background: rgba(0,0,0,.2) !important;
}
.detailImageContainer .card.backdropCard {
    top: 40vh;
}
.itemBackdrop::after {
  background: rgba(0,0,0,.5) !important;