/*####################################################################################*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); body, h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
  color: rgba(248, 248, 242, 1) !important;
}

.emby-textarea {
  font-family: monospace;
  font-size: 10pt;
}

/*####################################################################################*/

/*Enlarge button row on item page, even more on mobile*/
.mainDetailButtons {
	font-size: 120%;
}

/*Add fixes, start of file*/
@media all and (min-width: 100em){
  .button-flat {
    margin: .2em !important;
    padding: .85em !important;
  }
}
@media all and (max-width: 100em){
  .mainDetailButtons {
    font-size: 155%;
  }
  .button-flat {
    max-width: 20vw;
    max-height: 20vw;
  }
}

/*Media player*/
.startTimeText, .endTimeText {
    width: 3.4em;
    display: block;
    text-align: center;
}
.osdTitle {
  margin-left: 0.5em;
}

.videoOsdBottom {
    padding-top: 1em;
}

.skinHeader-withBackground.osdHeader {
    height: 5em;
}

/*Accommodate ultrawide aspect ratios*/
@media (min-aspect-ratio: 1.98/1) {
  .detailImageContainer .card {
    width: 21vw; 
  }
  .detailPagePrimaryContainer {
    padding-left: 28.45vw !important;
  }
  .detailPageContent {
    padding-left: 28.45vw;
  }
}
@media (min-aspect-ratio: 2.7/1) {
  .detailImageContainer .card {
    width: 16vw; 
  }
  .detailPagePrimaryContainer {
    padding-left: 23.45vw !important;
  }
  .detailPageContent {
    padding-left: 23.45vw;
  }
}

/*Tweak entry field padding and alignment/sizes*/
.emby-input,
.emby-textarea {
  padding: .4em .55em;
}
.emby-select {
  padding: .35em 1.9em .35em .35em;
}
.selectArrow {
    margin-top: 1.05em;
}

/*Fix weird shevron off centering*/
.layout-mobile :not(.sectionTitleContainer-cards)>.sectionTitle-cards {
 padding-top:0em;
}
.sectionTitle {
	margin-left: .4em !important;
	margin-top: .2em !important;
	margin-bottom: .2em !important;
}
.sectionTitleTextButton > .material-icons {
    margin: 0;
}
.layout-mobile .sectionTitleTextButton > .material-icons {
    padding-top: .2em;
}

/*Fix the UI shifting around*/
.nowPlayingBarCurrentTime {
    width: 6em;
}
.osdTextContainer {
    margin: 0 !important;
    margin-top: 0.2em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

/*Fix top right user icon when using a profile image*/
.headerUserButtonRound {
  border-radius: 50px !important;
}

/*Improve some menu alignments*/
.navMenuOptionText {
    margin-top: 0;
}
.formDialogHeaderTitle {
  margin-left: 1em;
}
.formDialogContent {
  margin-bottom: 6.2em;
}
.dialogContentInner {
  padding: .5em 1em 1em;
  padding-right: 1em;
  padding-left: 1em;
}
.listItem-indexnumberleft {
  margin: 1em;
}
.listItem {
  padding-left: 1em;
}

/*####################################################################################*/

:root {--indicator: 0, 164, 220;}
:root {--selection: 0, 164, 220;}

.emby-textarea {
  font-family: monospace;
  font-size: 10pt;
}

/*Theme user setting tab buttons*/
div[data-role="controlgroup"] a.ui-btn-active {
  background: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}

div[data-role="controlgroup"] a[data-role="button"] {
  display: table-cell !important;
  margin: 0 !important;
}

/*Mobile tweaks*/
.layout-mobile .detailPagePrimaryContainer {
    background: transparent;
}
.layout-mobile .adminDrawerLogo {
    border-bottom: none;
}

/*Stop covers from being scrolled*/
.detailImageContainer .card {
    position: fixed;
}	
/*Top "task bar" enlarge text*/
.headerTabs.sectionTabs {
  text-size-adjust: 110%;
  font-size: 110%;
}
.pageTitle {
  margin-top: auto; 
  margin-bottom: auto;
}

/*Theme process progress ring*/
.progressring-spiner {
  border-color: rgba(var(--accent));
  border-width: .35em;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}
.progressring {
    margin: .4em;
}
.progressring-bg {
   display: none;
}

/*Theme link color*/
#itemDetailPage .button-link {color: inherit !important;}

/*Accommodate mobile and align buttons and indicators*/
.cardIndicators,
.listItemIndicators {
  right: 0.5em; 
  top: 0.5em;
}

@media all and (min-width: 70em){
  .cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  .cardOverlayContainer {
    background-color: #00000000;
  }
}
@media all and (max-width: 70em){
  .cardOverlayButtonIcon {
    background-color: rgba(29, 29.7, 38, .95) !important;
  }
  .cardOverlayButton {
    padding: .5em;
  }
}

/*Media player*/
.nowPlayingPageImage {
  border: none;
}

.upNextDialog-countdownText {
  color: white;
}

/*Shrink the mouseover chapter image when scrobbling, still media player*/
.chapterThumb {
    height: 14vh;
    min-width: 14vh;
	box-shadow: 0 0 1.9vh #000;
}
.chapterThumbText {
    font-size: 1em;
}
.sliderBubble {
  background: #0000;
}
.chapterThumbTextContainer {
    right: auto;
	bottom: 4px;
	padding: .25em 0.7em;
}
.chapterThumbContainer {
    box-shadow: 0 0 1.9vh #000;
}
.sliderBubble {
    -webkit-transform: translate3d(-50%,-108%,0);
    transform: translate3d(-50%,-108%,0);
}

/*Narrow margins, theme main page*/
.cardBox-bottompadded {
    margin-bottom: 0.6em !important;
}
.itemsContainer > .card > .cardBox {
    margin-right: 0.8em;
}
.raised.homeLibraryButton {
    background: rgba(29, 29.7, 38, 0.6) !important;
}
.raised.homeLibraryButton:hover {
    background: rgba(var(—accent), 0.6) !important;
}
.raised.homeLibraryButton:hover {transition: filter 0.2s}
.raised.homeLibraryButton {transition: filter 0.2s}
.homeLibraryButton {
    min-width: 12em;
    margin: 0.4em;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}
.listItem:hover {
    transition: 0.2s;
    background: rgba(29, 29.7, 38, 0.5);
}
.visualCardBox, .cardImageContainer {
    box-shadow: none;
}
.backgroundProgress > div {
    background: rgba(0, 0, 0, 0);
}
.itemProgressBar {
    background: rgba(29, 29.7, 38, 0.25) !important;
}
#divRunningTasks span {
    color: rgba(255,255,255,0.75) !important;
}
.itemsContainer > .card > .cardBox {
    margin-left: 0.6em !important;
}
.itemsContainer > .card > .cardBox {
    margin-right: 0.8em;
}

/*ANIMATIONS*/
/*Fade as images load*/
.blurhash-canvas {
    transition: 0.2s;
}
.cardImageContainer {
    transition: 0.7s;
}
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.selectLabel
.inputLabel,
.textareaLabel {
  transition: 0.1s;
}

/*Hover background for section title buttons*/
.button-flat:hover {
	background: rgba(0, 164, 220, 0.2);
	color: #00a4dc !important;
}
.button-flat {
    margin: .2em !important;
    padding: .85em !important;
}
.dashboardSection h3 {
    margin: .5em .0em .5em .5em;
}
.dashboardSection .sectionTitleTextButton > .material-icons.material-icons {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: .2em;
}

/*Rating star, normally yellow*/
.starIcon {
    color: rgba(255,255,255,.8);
}

/*Remove background on some icons*/
.listItemIcon {
    background: #0000 !important;
}

/*Remove divider on list items*/
.listItem-border {
    border-color: rgba(255, 255, 255, 0) !important;
}

/*Fix footers/headers displaying on small pop-ups*/
.formDialogFooter-clear,
.formDialogHeader-clear,
.innerCardFooterClear {
    background-color: transparent !important;
}

/*####################################################################################*/

/*Accent List*/
/*Title text buttons*/
button-flat:hover {
    color: rgba(var(--accent)) !important;
}

.raised:hover, 
.fab:hover,
a[data-role="button"]:hover {
  background: rgba(var(--accent),0.5) !important;
}

.subtitleappearance-preview {
  background: linear-gradient(140deg,rgb(var(--accent)),#111) !important;
}

.navMenuOption-selected {
  color: rgba(var(--accent));
}
.mdl-slider-background-lower {
  background-color: rgba(var(--accent));
}   

progress::-moz-progress-bar {
  background-color: rgba(var(--accent),0.75);
}
progress::-webkit-progress-value {
  background-color: rgba(var(--accent),0.75);
}
.taskProgressInner {
  background: rgba(var(--accent),0.75) !important;
}

#dashboardPage .playbackProgress > div {
    background-color: rgba(var(--accent), 0.75) !important;
}
#dashboardPage .transcodingProgress > div {
    background-color: rgba(var(--accent), 0.35) !important;
}

.mdl-slider-background-lower {
  background-color: rgb(var(--accent));
}
.mdl-slider::-moz-range-thumb {
  background: rgb(var(--accent));
}
.mdl-slider::-ms-thumb {
  background: rgb(var(--accent));
}
.mdl-slider::-webkit-slider-thumb {
  background: rgb(var(--accent));
}
.iconOsdProgressInner {
  background: rgb(var(--accent));
}

.paper-icon-button-light:hover,
.raised.homeLibraryButton:hover,
.button-flat:hover,
.playstatebutton-icon-played,
.ratingbutton-icon-withrating,
.paper-icon-button-light:hover:not(:disabled),
.emby-tab-button:hover,
.selectLabelFocused,
.inputLabelFocused,
.textareaLabelFocused,
.buttonActive, 
.button-link {
  color: rgba(var(--accent)) !important;
}

#itemDetailPage .button-link {color: inherit !important;}

.navMenuOption:hover,
.actionSheetMenuItem:hover {
  background-color: rgba(var(--accent),0.5) !important;
}

.emby-checkbox:checked + span + .checkboxOutline,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.emby-input:focus,
.itemSelectionPanel {
  border: 0.01em solid rgba(var(--accent),.5) !important;
}

.upNextDialog-countdownText {
  color: rgba(var(--accent));
}

.mdl-spinner__layer-1 {
  border-color: rgba(var(--accent));
}
.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__track {
  background: rgba(var(--accent), 0.5);
}
.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__thumb {
  background: rgba(var(--accent));
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--accent),0.8) !important;
}
* {
  scrollbar-color: rgba(var(--accent),0.8) #0000 !important;
}

/* Syncplay theming*/
.syncPlayIconCircle {
  color: rgba(var(--accent),1) !important;
  text-shadow: none !important;
}

/*####################################################################################*/

/*Rounded corners on pretty much everything*/

progress {
  border-radius: var(--rounding);
}
progress::-webkit-progress-bar {
  border-radius: var(--rounding);
}
progress::-moz-progress-bar {
  border-radius: var(--rounding);
}
progress::-webkit-progress-value {
  border-radius: var(--rounding);
}
.taskProgressOuter,
.taskProgressInner {
  border-radius: var(--rounding) !important;
}
.formDialogHeader {
  border-top-left-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}
.formDialogFooter {
  border-bottom-left-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
}
.cardOverlayContainer {
	border-radius: var(--rounding) !important;
}
.missingIndicator, 
.unairedIndicator,
.detailTable,
.primaryImageWrapper > img,
.toast,
.paperList,
.cardContent,
.sessionNowPlayingInnerContent, 
.listItem:hover, 
.cardImage,
.fab,
.raised,
.multiSelectCheckboxOutline,
.itemSelectionPanel,
.cardContent-button, 
.cardContent-shadow, 
.itemDetailImage, 
.cardOverlayButton-hover,
.cardImageContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.dialog,
.countIndicator,
.playedIndicator,
.listItemIcon,
.listItem-border,
.button-flat,
.visualCardBox,
.checkboxOutline,
.emby-select-withcolor,
.chapterThumbTextContainer,
.chapterThumbContainer,
.chapterThumb,
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.nowPlayingPageImage,
.upNextDialog-poster-img,
.upNextContainer,
.cardOverlayButtonIcon {
  border-radius: var(--rounding) !important;
}
.actionSheetMenuItem:hover {
    border-radius: 0 !important;
}
fieldset {
    border-radius: var(--rounding);
}
.osdPoster img {
  border-radius: var(--rounding); border: none;
}
.mdl-slider::-moz-range-thumb {
  border-radius: var(--rounding);
}
.mdl-slider::-ms-thumb {
  border-radius: var(--rounding);
}
.mdl-slider::-webkit-slider-thumb {
  border-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:first-child {
	border-bottom-left-radius: var(--rounding);
	border-top-left-radius: var(--rounding);
}
div[data-role="controlgroup"] a[data-role="button"]:last-child {
	border-bottom-right-radius: var(--rounding);
	border-top-right-radius: var(--rounding);
}
#dashboardPage .cardContent, #dashboardPage .sessionNowPlayingInnerContent {
    border-radius: var(--rounding) var(--rounding) 0 0 !important;
}
#divVirtualFolders .cardImageContainer, #divVirtualFolders .cardContent {
    border-radius: var(--rounding) var(--rounding) 0 0 !important;
}
#userProfilesPage .cardImage, #userProfilesPage .cardContent {
    border-radius: var(--rounding) var(--rounding) 0 0 !important;
}

/*####################################################################################*/

/*Shrink and square (or round) cast thumnails*/
@media all and (min-width: 131.25em){
  #castContent .card.overflowPortraitCard {
    width: 6.3vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 120em) and (max-width: 131.25em){
  #castContent .card.overflowPortraitCard {
    width: 6.4vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 100em) and (max-width: 120em){
  #castContent .card.overflowPortraitCard {
    width: 7.6vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 87.5em) and (max-width: 100em){
  #castContent .card.overflowPortraitCard {
    width: 9.3vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 75em) and (max-width: 87.5em){
  #castContent .card.overflowPortraitCard {
    width: 10.5vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 50em) and (max-width: 75em){
  #castContent .card.overflowPortraitCard {
    width: 15vw !important;
    font-size: 90% !important;
  }
}
@media all and (min-width: 43.75em) and (max-width: 50em){
  #castContent .card.overflowPortraitCard {
    width: 20.1vw !important; 
    font-size: 90% !important;
  }
}
@media all and (min-width: 25em) and (max-width: 43.75em){
  #castContent .card.overflowPortraitCard {
    width: 31.2vw !important; 
    font-size: 90% !important;
  }
}
@media all and (max-width: 25em){
  #castContent .card.overflowPortraitCard {
    width: 40vw !important; 
    font-size: 90% !important;
  }
}

.cardPadder {
  background-color: #0000 !important; box-shadow: none !important;
}

/*Correct image aspect ratio behaviour, set border-radius to zero for square tiles*/

@media all and (min-width: 131.25em){
  #castContent .cardScalable {
    width: calc(6.3vw - 0.6em) !important; 
    height: calc(6.3vw - 0.6em) !important;
  }
}
@media all and (min-width: 120em) and (max-width: 131.25em){
  #castContent .cardScalable {
    width:  calc(6.4vw - 0.6em) !important; 
    height: calc(6.4vw - 0.6em) !important;
  }
}
@media all and (min-width: 100em) and (max-width: 120em){
  #castContent .cardScalable {
    width:  calc(7.6vw - 0.6em) !important; 
    height: calc(7.6vw - 0.6em) !important;
  }
}
@media all and (min-width: 87.5em) and (max-width: 100em){
  #castContent .cardScalable {
    width:  calc(9.3vw - 0.6em) !important; 
    height: calc(9.3vw - 0.6em) !important;
  }
}
@media all and (min-width: 75em) and (max-width: 87.5em){
  #castContent .cardScalable {
    width:  calc(10.5vw - 0.6em) !important; 
    height: calc(10.5vw - 0.6em) !important;
  }
}
@media all and (min-width: 50em) and (max-width: 75em){
  #castContent .cardScalable {
    width:  calc(15vw - 0.6em) !important; 
    height: calc(15vw - 0.6em) !important;
  }
}
@media all and (min-width: 43.75em) and (max-width: 50em){
  #castContent .cardScalable {
    width:  calc(20.1vw - 0.6em) !important; 
    height: calc(20.1vw - 0.6em) !important;
  }
}
@media all and (min-width: 25em) and (max-width: 43.75em){
  #castContent .cardScalable {
    width:  calc(31.2vw - 0.6em) !important; 
    height: calc(31.2vw - 0.6em) !important;
  }
}
@media all and (max-width: 25em){
  #castContent .cardScalable {
    width:  calc(40vw - 0.6em) !important;
    height: calc(40vw - 0.6em) !important;
  }
}

/*####################################################################################*/

/*Size episode preview images in a more compact way*/
.listItemImage.listItemImage-large.itemAction.lazy {
  transition: filter 0.2s
}
.listItemImageButton-icon {
  padding: 0;
}
.secondary.listItem-overview.listItemBodyText {
  height: 61px; 
  margin: 0;
}
.listItemImageButton {
  margin: auto; 
  font-size: 1.6em !important;
}
@media all and (min-width: 100em){
  .listItemImage.listItemImage-large.itemAction.lazy {
    height: 110px;
  }
  .listItem-content {
    height: 115px;
  }
  .secondary.listItem-overview.listItemBodyText {
    height: 4em; 
    margin: 0;
  }
}
@media all and (max-width: 100em){
  .listItemImage.listItemImage-large.itemAction.lazy {height: 80px;}
  .listItem-content {height: 85px;}
  .secondary.listItem-overview.listItemBodyText {height: 2.5em; margin: 0;}
}

.missingIndicator, .unairedIndicator {
    background: #ae3030eb;
    padding: .3em .6em;
    color: #fff;
}
.layout-mobile .listItemImageButton {
    background: rgba(0, 0, 0, 0);
}

/*####################################################################################*/

/*Transparent header*/
.skinHeader-withBackground {
    background-color: transparent;
}

/*Pages the have single unit height taskbar*/
@media all and (min-width: 100em){
  #indexPage,
  #moviesPage,
  #tvRecommendedPage,
  #musicRecommendedPage {
    margin-top: 68px;
    padding-top: 0px !important;
    overflow-y: scroll;
  }
}

/*Pages the have two unit height taskbar*/
@media all and (max-width: 100em){
  #indexPage,
  #moviesPage,
  #tvRecommendedPage,
  #musicRecommendedPage {
    margin-top: 130px;
    padding-top: 0.5em !important;
    overflow-y: scroll;
  }
}

.force-scroll {
    overflow-y: auto;
    overflow-x: auto;
}

/*####################################################################################*/

/*Narrow the login form, size according to display size (bigger on mobile)*/
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

/*Hide "please login" text, margin is to prevent login form moving too far up*/
#loginPage h1 {
  display: none
}
#loginPage .padded-left.padded-right.padded-bottom-page {
  margin-top: 8em
}

/*Hide "manual" and "forgot" buttons}*/
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
  display: none
}
#loginPage {
  background: url(https://i.imgur.com/9vL4iNf.png) !important; 
  background-size: cover !important;
}

/*####################################################################################*/

/*Tweak entry fields, checkmarks, thin borders dark highlight*/
.emby-input,
.emby-textarea {
  padding: .4em .55em;
}
.emby-select {
  padding: .35em 1.9em .35em .35em;
}
.selectArrow {
    margin-top: 1.05em;
}
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor {
  background: rgba(29, 29.7, 38, .95); 
  border: 0.01em solid rgba(var(--accent), .4);
  /*box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;*/
}

.emby-textarea:focus {
  box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}

.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus {
  background: rgba(29, 29.7, 38, .95) !important;
}

.emby-textarea:focus,
.emby-select-withcolor:focus,
.emby-input:focus,
.itemSelectionPanel {
  border: 0.01em solid rgba(0, 164, 220, 1) !important;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
  background-color: rgba(29, 29.7, 38, .95) !important; 
  border: 0.01em solid rgba(0, 164, 220, 1) !important;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}

/*Theme the library scan progress bar*/
progress {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.22);
}
progress::-webkit-progress-bar {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 0px solid rgba(255, 255, 255, 0.22);
}
progress::-moz-progress-bar {
  background-color: rgba(255,255,255,0.75);
}
progress::-webkit-progress-value {
  background-color: rgba(255,255,255,0.75);
}
#divRunningTasks span {
  color: rgba(255,255,255,0.75) !important;
}
.taskProgressOuter {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.22);
}
.taskProgressInner {
  background: rgba(255,255,255,0.75) !important;
}
#scheduledTasksPage span {
  color: rgba(255,255,255,0.75) !important;
}

/*####################################################################################*/

/*Corner indicators*/
.cardIndicators,
.listItemIndicators {
  right: 0;
  top: 0;
  margin: .3em .3em;
}
.innerCardFooter {
  margin: .3em;
}

.countIndicator {
  background: rgba(var(--indicator), 1);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}
.playedIndicator, .innerCardFooter {
  background: rgba(0, 164, 220, 1);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}

/*####################################################################################*/

/*This file contains color and style changes for the colorful theme type*/
:root {--accent: 255, 121, 198;}
:root {--indicator: var(--accent);}
:root {--selection: var(--accent);}

.dialog,
.mainDrawer,
.toast,
.appfooter {
    background-color: rgba(29, 29.7, 38, .95);
}

/*Login background*/
#loginPage {
  background: url(https://i.imgur.com/IHhhZ4b.png) !important; 
  background-size: cover !important;
}

/*Colors for title_2*/
.layout-desktop .detailRibbon {
    background: rgba(0, 0, 0, 0.2);
}
.itemBackdrop::after {
  background: rgba(0,0,0,0.26) !important;
}

/*Accenting*/

.preload {
    background-color: #282a36;
}
.backgroundContainer {
    background-color: rgba(40, 42, 54, .8) !important;
    /*background: linear-gradient(360deg, hsl(221, 39%, 11%) 65%, hsl(215, 28%, 17%) 100%);*/
}
.formDialogHeader,
.formDialogFooter {
    background-color: rgba(var(--accent),0.15) !important;
}
/*Fix footers/headers displaying on small pop-ups*/
.formDialogFooter-clear,
.formDialogHeader-clear,
.innerCardFooterClear {
    background-color: transparent !important;
}

.button-flat:hover {
	background: rgba(var(--accent),0.25);
}
.paper-icon-button-light:hover {
  background-color: rgba(var(--accent),0.25) !important;
}
.itemProgressBar-flat:hover {
  background: rgba(var(--accent),0.25);
}
.navMenuOption-selected {
  color: white;
}

.subtitleappearance-preview {
  background: linear-gradient(140deg,rgba(var(--accent)),#111) !important;
}
.navMenuOption-selected, .selectionCommandsPanel {
    background: rgba(var(--accent), 0.8) !important;
}
.raised,
.fab,
a[data-role="button"] {
  background: rgba(var(--accent), 0.8) !important;
	transition: all 0.2s !important;
}

/*Various box-shadows, might be related to glowstyle*/
.cardBox:not(.visualCardBox) .cardPadder, .cardContent-shadow {
    box-shadow: none !important;
}
body, h1, h2, h3, h4, .textActionButton, .emby-button-foreground  {
  text-shadow: 0px 0px 4px rgba(0,0,0,.6) !important;
}
.blurhashed {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}

/*Dash and general UI styling*/
.paperList, .visualCardBox {
    background-color: rgba(29, 29.7, 38, .95);
}  
.navMenuOption-selected {
    color: white;
}
progress {
    background: rgba(0, 0, 0, 0.5) !important;
}

/*Colors for loading spinner, placeholders, scroll bars*/
.mdl-spinner__layer-1 {border-color: rgba(0, 164, 220, 1);}
.mdl-spinner__layer-2 {border-color: rgba(0, 164, 220, .7);}
.mdl-spinner__layer-3 {border-color: rgba(0, 164, 220, .5);}
.mdl-spinner__layer-4 {border-color: rgba(0, 164, 220, .3);}


.defaultCardBackground1 {
	background-color: rgba(var(--accent), .5);
}
.defaultCardBackground2 {
	background-color: rgba(var(--accent), .4);
}
.defaultCardBackground3 {
	background-color: rgba(var(--accent), .8);
}
.defaultCardBackground4 {
	background-color: rgba(var(--accent), .7);
}
.defaultCardBackground5 {
	background-color: rgba(var(--accent), .6);
} 

/*####################################################################################*/

/*Tweak series/movie/album title screen*/
.detailImageContainer .card {
  position:fixed;
}
.detailSectionContent {
  max-width: 66em;
}
.trackSelections {
  max-width: 22em;
}
.detailLogo {
  display: none;
}
.detailPagePrimaryContainer {
  background: rgba(0,0,0,0) !important;
}
.layout-desktop .detailRibbon {
  background: rgba(0,0,0,0) !important;
}
@media all and (min-width: 32em){
  .itemBackdrop {
    display: none;
  }
	.layout-desktop .detailRibbon {
    margin-top: 13vh;
	}
}

#itemDetailPage .detailLogo {
    position: static;
    margin-left: 32.5%;
    display: block;
    -webkit-filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
    ! filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
    flex-shrink: 0;
    background-position: 0 50%;
    margin-top: 8vh;
    margin-bottom: -10em;
}

.layout-mobile .detailLogo {
    display: none !important;
}

#itemDetailPage .itemName.infoText.parentNameLast {
    display: none;
}

.hide+.detailPageWrapperContainer .itemName {
    display: block !important;
}

.itemName {
    margin: .5em 0 !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
    display: block;
}

/*####################################################################################*/

/*Overlay progress*/
#itemDetailPage .itemProgressBar,
#indexPage .itemProgressBar {
    background: rgba(29, 29.7, 38, .3) !important;
    height: 4px;
    bottom: 0em;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
    border: solid 0.01em rgba(248, 248, 242, .1);
}

.innerCardFooter,
.fullInnerCardFooter,
.innerCardFooterClear {
    background: rgba(0,0,0,0);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    /* border: solid 0.02em rgba(var(--accent),0.6);*/
}

#itemDetailPage .itemProgressBarForeground,
#indexPage .itemProgressBarForeground {
    background: rgba(0, 164, 220, 1);
    /*border: solid 0.02em rgba(var(--accent), .6);*/
    border-radius: var(--rounding);
    /*box-shadow: 0px 0px 1px rgba(var(--accent), .6) !important;*/
    /*border-right: solid .02em rgba(var(--accent), 1) !important;*/
}

/*####################################################################################*/

/*Glow accent on hover + some added customization*/
.raised.homeLibraryButton {
    box-shadow: 0px 0px 5px rgba(var(--accent), 0);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.6);
    /*border: solid 0.02em rgba(var(--accent), .4) !important;*/
    background-color: rgba(29, 29.7, 38, .90) !important;
}

.cardOverlayButtonIcon {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
    background-color: rgba(29, 29.7, 38, .90) !important;
    /*border: solid 0.001em rgba(248, 248, 242, .1);*/
}

.cardOverlayContainer:hover,
.dialog,
.toast,
.cardOverlayButtonIcon:hover,
.raised.homeLibraryButton:hover {
    box-shadow: 0px 0px 5px rgb(var(--accent)) !important;
    /*border: solid 1px rgba(var(--accent),0.6) !important;*/
} 

.cardOverlayContainer {
    box-shadow: 0px 0px 5px rgb(var(--accent)) !important;
    border: solid 1px rgba(var(--accent),0.6) !important;
}

.drawer-open {
    box-shadow: 0px 0px 5px rgba(var(--accent), 1) !important;
    border-right: solid 1px rgba(var(--accent), 1) !important;
}

/*####################################################################################*/

/*Glassy*/
@supports (backdrop-filter: blur(15px)) {
  .dialog,
  .mainDrawer,
  .toast,
  .appfooter {
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.35);
  }
  .paper-icon-button-light:hover,
  #itemDetailPage .innerCardFooter,
  #dashboardPage .backgroundProgress > div {
    backdrop-filter: blur(4px);
  }
  @media all and (max-width: 70em){
    .cardOverlayButtonIcon {
      background-color: rgba(29, 29.7, 38, .4) !important;
    }
    .cardOverlayButtonIcon {
    backdrop-filter: blur(4px);
    }
  }
  .indicator {
    backdrop-filter: blur(2px);
  }
}

/*####################################################################################*/

@keyframes backgroundScroll {
  0% {
    background-position: 99% 1%; opacity: 0;
  }
  2% {
    opacity: 1;
  }
  20% {
    background-position: 1% 50%;
  }
  40% {
    background-position: 99% 99%;
  }
  60% {
    background-position: 1% 1%;
  }
  80% {
    background-position: 50% 99%;
  }
  100% {
    background-position: 99% 1%;
  }
}


@keyframes backgroundScrollmob {
  0% {
    background-position: 99% 1%; opacity: 0;
  }
  12% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  100% {
    background-position: 50% 50%; opacity: 0;
  }
}

@media all and (min-width: 100em){
  .backdropImage {
    background-size: 150% 150%;
    background-position: 99% 1%;
    animation: backgroundScroll 630s ease;
    animation-iteration-count: infinite;
  }
}

@media all and (max-width: 100em){
  .backdropImage {
    /*background-size: 150% 150%;*/
    background-position: 99% 1%;
    animation: backgroundScrollmob 25s ease;
    animation-iteration-count: infinite;
  }
}

/*####################################################################################*/

/*Style backdrop*/
.backdropImage {filter: blur(8px) saturate(70%) contrast(120%) brightness(60%) /*sepia(%)*/;}
/*Accent and roundingd*/
:root {--rounding: 12px;}
:root {--accent: 255, 121, 198;}
