/*Narrow the login form, size according to display size (bigger on mobile)*/
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

#loginPage .padded-left.padded-right.padded-bottom-page {
  margin-top: 8em
}

/*Hide "manual" and "forgot" buttons}*/
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
  display: none
}

#loginPage .padded-left.padded-right.padded-bottom-page {
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.35);
    width: 24em;
    border-radius: var(--rounding);
}
#loginPage .squareCard {
    width: 33%;
}
#loginPage form {
    padding-top: 4em;
}

#loginPage .sectionTitle{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 1.2em !important;
}
#loginPage {
  background: url(https://i.imgur.com/9vL4iNf.png) !important; 
  background-size: cover !important;
}
