/*This file contains color changes for the colorful theme type*/

.dialog,
.mainDrawer,
.toast,
.appfooter {
    background-color: rgba(8, 8, 8, 0.85);
}
@supports (backdrop-filter: blur(15px)) {
  .dialog, .mainDrawer, .toast, .appfooter {
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.35);
  }
}

/*Accenting*/
.drawer-open {
    box-shadow: 0px 0px 5px rgba(var(--accent), 1) !important;
    border-right: solid 1px rgba(var(--accent), 1) !important;
}

.preload {
    background-color: black;
}
.backgroundContainer {
    background-color: rgba(var(--accent),0.17) !important;
}
.formDialogHeader,
.formDialogFooter {
    background-color: rgba(var(--accent),0.15) !important;
}
.button-flat:hover {
	background: rgba(var(--accent),0.25);
}
.paper-icon-button-light:hover {
  background-color: rgba(var(--accent),0.25) !important;
}

.navMenuOption-selected {
  color: white;
}

.subtitleappearance-preview {
  background: linear-gradient(140deg,rgba(var(--accent)),#111) !important;
}
.navMenuOption-selected, .selectionCommandsPanel {
    background: rgba(var(--accent), 0.8) !important;
}
.raised,
.fab,
a[data-role="button"] {
  background: rgba(var(--accent), 0.8) !important;
	transition: all 0.2s !important;
}

/*Glow accent*/
.raised.homeLibraryButton {
    box-shadow: 0px 0px 5px rgba(var(--accent), 0) !important;
    border: solid 1px rgba(var(--accent),0) !important;
}
.cardOverlayContainer:hover,
.dialog,
.toast,
.raised.homeLibraryButton:hover {
  box-shadow: 0px 0px 5px rgb(var(--accent)) !important;
  border: solid 1px rgba(var(--accent),0.6) !important;
}
.cardOverlayContainer {
  border: solid 1px rgba(var(--accent),0.0) !important;
}

/*Various box-shadows*/
.cardBox:not(.visualCardBox) .cardPadder, .cardContent-shadow {
    box-shadow: none !important;
}
body, h1, h2, h3, h4, .textActionButton, .emby-button-foreground  {
  text-shadow: 0px 0px 4px rgba(0,0,0,.6) !important;
}
.blurhashed {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}

/*Dash and general UI styling*/
.paperList, .visualCardBox {
    background-color: rgba(0, 0, 0, 0.5);
}

/*Change look of fields*/
.infoBanner {
    background: rgba(var(--accent),0.15) !important;
}
fieldset {
    border: 1px solid rgba(var(--accent), 0.3);
}
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor {
  border: none !important;
  background: rgba(0, 0, 0, 0.5); 
}
#itemDetailPage .emby-select-withcolor {
  background: rgba(0, 0, 0, 0.2);
}

/*Change look of in-focus fields*/
.emby-checkbox:checked + span + .checkboxOutline,
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.itemSelectionPanel {
  border: none !important;
  background: rgba(var(--accent), 0.25) !important;
}
.checkboxIcon {
    color: rgba(var(--accent));
}

progress {
  border: 0px solid rgba(255, 255, 255, 0.22);
}
progress::-webkit-progress-bar {
  border: 0px solid rgba(255, 255, 255, 0.22);
}
.taskProgressOuter {
  border: 0px solid rgba(255, 255, 255, 0.22);
}

/*Colors for loading spinner and other stuff*/
.mdl-spinner__layer-1 {border-color: rgba(var(--accent), 1);}
.mdl-spinner__layer-2 {border-color: rgba(var(--accent), .8);}
.mdl-spinner__layer-3 {border-color: rgba(var(--accent), .6);}
.mdl-spinner__layer-4 {border-color: rgba(var(--accent), .5);}


.defaultCardBackground1 {
	background-color: rgba(var(--accent), .5);
}
.defaultCardBackground2 {
	background-color: rgba(var(--accent), .4);
}
.defaultCardBackground3 {
	background-color: rgba(var(--accent), .8);
}
.defaultCardBackground4 {
	background-color: rgba(var(--accent), .7);
}
.defaultCardBackground5 {
	background-color: rgba(var(--accent), .6);
}