/*This file contains color and style changes for the dark theme type*/
:root {--selection: 120, 120, 120;}

.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, 0);
}

/*Some themeing for the dashboard*/

#user_usage_report_table,
.detailTable {
    background: rgba(0,0,0,.5);
}
.detailTableBodyRow-shaded {
    background: #0000 !important;
}

.infoBanner {
    background: #101010;
}
.navMenuOptionText {
    margin-top: 0;
}
.backgroundProgress > div {
    background-color: #0000;
}

.visualCardBox, .cardImageContainer {
  box-shadow: none;
}

.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__track {
    background: rgba(120, 120, 120, 0.6);
}
.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__thumb {
    background: white;
}

.dashboardSection h3 {
  margin-left: 0.5em;
}
.sessionCardFooter {
  border: none;
}
.paperList, 
.visualCardBox {
  background-color: rgba(0, 0, 0, 0.5);
}
.listItem-border {
  border-color: rgba(255, 255, 255, 0) !important; 
}
fieldset {
  border: 1px solid rgba(40, 40, 40, 0.8); 
  border-radius: 0.4em;
}

/*Colors for title_2*/
.layout-desktop .detailRibbon {
  background: rgba(0,0,0,.2) !important;
}
.itemBackdrop::after {
  background: rgba(0,0,0,.5) !important;
}


/*Homepage modifications, transparent footerplayer and fixed sectiontitles*/
.appfooter {
	background: rgba(0,0,0,0.9);
}
.button-flat:hover {
	background: rgba(0,0,0,0.4);
}

/*Theme the library scan progress bar*/
progress {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.22);
}
progress::-webkit-progress-bar {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 0px solid rgba(255, 255, 255, 0.22);
}
progress::-moz-progress-bar {
  background-color: rgba(255,255,255,0.75);
}
progress::-webkit-progress-value {
  background-color: rgba(255,255,255,0.75);
}
#divRunningTasks span {
  color: rgba(255,255,255,0.75) !important;
}
.taskProgressOuter {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.22);
}
.taskProgressInner {
  background: rgba(255,255,255,0.75) !important;
}
#scheduledTasksPage span {
  color: rgba(255,255,255,0.75) !important;
}

/*Login background*/
#loginPage {
  background: url(https://i.imgur.com/9vL4iNf.png) !important; 
  background-size: cover !important;
}

/*Make watched icon, footer on chapter thumnails (and other things), and count indicator dark and transparent*/
.innerCardFooter,
.countIndicator, 
.playedIndicator {
  background: rgba(0,0,0,0.4); 
  box-shadow: none;
}
.countIndicator {
  box-shadow: none;
}

/*Modify subtitle settings page*/
.subtitleappearance-preview {
  background: linear-gradient(140deg,#444,#111) !important;
}

/*Affects blurhash to remove the saturated colors to fit overall look*/
.blurhash-canvas {
	filter: opacity(60%) saturate(60%);
}

/*Dash and general UI styling*/
.navMenuOption-selected, .selectionCommandsPanel {
    background: #101010 !important;
}
.mainDrawer {
    background-color: rgba(0, 0, 0, 0.8);
}
.raised,
.fab,
a[data-role="button"] {
  background: rgba(40, 40, 40, 0.8) !important;
	transition: all 0.2s !important;
}
.raised:hover,
.fab:hover,
.navMenuOption:hover,
.actionSheetMenuItem:hover {
  background: rgba(80, 80, 80, 0.8) !important;
}
.paper-icon-button-light:hover {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.navMenuOption-selected,
.selectionCommandsPanel {
  background: #101010 !important;
}

.paper-icon-button-light:hover,
.raised.homeLibraryButton:hover,
.button-flat:hover,
.playstatebutton-icon-played,
.ratingbutton-icon-withrating,
.paper-icon-button-light:hover:not(:disabled),
.emby-tab-button:hover,
.selectLabelFocused,
.inputLabelFocused,
.textareaLabelFocused,
.buttonActive,
.button-link{
  color: rgba(120, 120, 120, 0.6) !important;
}
progress {
    background: rgba(0, 0, 0, 0.5) !important;
}

/*Theme syncplay*/
.syncPlayIconCircle {
  color: rgba(255,255,255,1) !important;
  text-shadow: none !important;
}

@-webkit-keyframes pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}
@keyframes pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}
@-webkit-keyframes infinite-pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}
@keyframes infinite-pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}

/*Colors for loading spinner, placeholders, scroll bars*/
.mdl-spinner__layer-1 {border-color: rgba(255, 255, 255, 1);}
.mdl-spinner__layer-2 {border-color: rgba(128, 128, 128, 1);}
.mdl-spinner__layer-3 {border-color: rgba(40, 40, 40, 1);}
.mdl-spinner__layer-4 {border-color: rgba(0, 0, 0, 1);}

::-webkit-scrollbar-track-piece {
  background-color: #0000;
}
::-webkit-scrollbar-corner {
  background-color: #0000;
}
::-webkit-scrollbar-thumb {
  background: rgba(120,120,120,0.6) !important;
  border-radius: var(--rounding);
}

* {
  scrollbar-color: rgba(120,120,120,0.6) #0000 !important;
}

.defaultCardBackground1 {
	background-color: #0a0a0a;
}
.defaultCardBackground2 {
	background-color: #141414;
}
.defaultCardBackground3 {
	background-color: #212121;
}
.defaultCardBackground4 {
	background-color: #333333;
}
.defaultCardBackground5 {
	background-color: #666666;
}

.raised:hover, 
.fab:hover,
a[data-role="button"]:hover {
  background: rgba(var(--accent),0.5) !important;
}

.subtitleappearance-preview {
  background: linear-gradient(140deg,rgb(var(--accent)),#111) !important;
}

.navMenuOption-selected {
  color: rgba(var(--accent));
}
.mdl-slider-background-lower {
  background-color: rgba(var(--accent));
}   

.playbackProgress>div {
  background-color: rgba(var(--accent),0.75);
}
progress::-moz-progress-bar {
  background-color: rgba(var(--accent),0.75);
}
progress::-webkit-progress-value {
  background-color: rgba(var(--accent),0.75);
}
.taskProgressInner {
  background: rgba(var(--accent),0.75) !important;
}

.transcodingProgress>div, 
.itemProgressBarForeground {
  background-color: rgba(var(--accent),0.35);
}

.mdl-slider-background-lower {
  background-color: rgb(var(--accent));
}
.mdl-slider::-moz-range-thumb {
  background: rgb(var(--accent));
}
.mdl-slider::-ms-thumb {
  background: rgb(var(--accent));
}
.mdl-slider::-webkit-slider-thumb {
  background: rgb(var(--accent));
}
.iconOsdProgressInner {
  background: rgb(var(--accent));
}

.paper-icon-button-light:hover,
.raised.homeLibraryButton:hover,
.button-flat:hover,
.playstatebutton-icon-played,
.ratingbutton-icon-withrating,
.paper-icon-button-light:hover:not(:disabled),
.emby-tab-button:hover,
.selectLabelFocused,
.inputLabelFocused,
.textareaLabelFocused,
.buttonActive,
.button-link {
  color: rgba(var(--accent)) !important;
}

#itemDetailPage .button-link {color: inherit !important;}

.navMenuOption:hover,
.actionSheetMenuItem:hover {
  background-color: rgba(var(--accent),0.5) !important;
}

.upNextDialog-countdownText {
  color: rgba(var(--accent));
}

.mdl-spinner__layer-1 {
  border-color: rgba(var(--accent));
}
.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__track {
  background: rgba(var(--accent), 0.5);
}
.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__thumb {
  background: rgba(var(--accent));
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--accent),0.8) !important;
}
* {
  scrollbar-color: rgba(var(--accent),0.8) #0000 !important;
}


/* Syncplay theming*/
.syncPlayIconCircle {
  color: rgba(var(--accent),1) !important;
  text-shadow: none !important;
}
