.detailPageWrapperContainer {
    max-width: 66em;
}

#itemBackdrop {
    display: none !important;
}

.detailRibbon {
    background: transparent !important;
    margin-top: 13vh;
}

#itemDetailPage .detailLogo {
    display: block !important;
    position: static !important;
    -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
    margin-bottom: -12vh;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.layout-desktop #itemDetailPage .detailLogo {
    margin-left: 32.5%;
    margin-top: 8vh;
    width: 35vw;
    height: 12vh;
}

.layout-tv #itemDetailPage .detailLogo {
    margin-left: 0 !important;
    margin-top: 2vh !important;
    width: 50vw !important;
    height: 15vh !important;
    background-position: left center !important;
}

.layout-mobile #itemDetailPage .detailLogo {
    margin: 2vh auto !important;
    width: 90vw !important;
    height: 10vh !important;
    background-position: center !important;
}

#itemDetailPage .nameContainer {
    display: none !important;
}