.detailLogo { display: none !important; }

.itemBackdrop {
    height: 31vh !important;
    display: block !important; 
}

.layout-desktop .detailRibbon,
.layout-tv .detailRibbon {
    margin-top: 0;
    padding-top: .5em;
    padding-bottom: .5em;
}