/*Tweak series/movie/album title screen*/
.detailImageContainer .card {
  position:fixed;
}
.detailSectionContent {
  max-width: 66em;
}
.trackSelections {
  max-width: 22em;
}
.detailLogo {
  display: none;
}
.detailPagePrimaryContainer {
  background: rgba(0,0,0,0) !important;
}
.layout-desktop .detailRibbon {
  background: rgba(0,0,0,0) !important;
}

/* Fix poster image not showing in high width windows */
.layout-desktop .detailImageContainer .card {
  top: 18vh;
}

@media all and (min-width: 32em){
  .itemBackdrop {
    display: none;
  }
	.layout-desktop .detailRibbon {
    margin-top: 13vh;
	}
}

#itemDetailPage .detailLogo {
    position: static;
    margin-left: 32.5%;
    display: block;
    -webkit-filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
    /*! filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75)); */
    flex-shrink: 0;
    background-position: 0 50%;
    margin-top: 8vh;
    margin-bottom: -10em;
}

.layout-mobile .detailLogo {
    display: none !important;
}

#itemDetailPage .itemName.infoText.parentNameLast {
    display: none;
}

.hide+.detailPageWrapperContainer .itemName {
    display: block !important;
}

.itemName {
    margin: .5em 0 !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
    display: block;
}

