.detailSectionContent { max-width: 66em; }
.trackSelections { max-width: 22em; }

.detailLogo { display: none !important; }

.detailPagePrimaryContainer { background: transparent !important; }

.layout-desktop .itemBackdrop,
.layout-tv .itemBackdrop {
    display: none !important;
}

.layout-desktop .detailRibbon,
.layout-tv .detailRibbon {
    background: transparent !important;
    margin-top: 13vh;
}