/*Tweak series/movie/album title screen*/

.detailSectionContent {
  max-width: 66em;
}
.trackSelections {
  max-width: 22em;
}
.detailLogo {
  display: none;
}
.detailPagePrimaryContainer {
  background: rgba(0,0,0,0) !important;
}
.layout-desktop .detailRibbon {
  background: rgba(0,0,0,0) !important;
}
@media all and (min-width: 32em){
  .itemBackdrop {
    display: none;
  }
	.layout-desktop .detailRibbon {
    margin-top: 13vh;
	}
}
