@supports (backdrop-filter: blur(15px)) {
  .skinHeader-withBackground,
  .css-fknfom {
    backdrop-filter: blur(15px);
  }
  .dialog,
  .mainDrawer,
  .toast,
  .appfooter {
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.35);
  }
  .paper-icon-button-light:hover,
  #itemDetailPage .itemProgressBar,
  #dashboardPage .backgroundProgress > div {
    backdrop-filter: blur(4px);
  }
  @media all and (max-width: 70em){
    .cardOverlayButtonIcon {
      background-color: rgba(0, 0, 0, 0.35) !important;
    }
    .cardOverlayButtonIcon {
    backdrop-filter: blur(4px);
    }
  }
  .indicator {
    backdrop-filter: blur(2px);
  }
}
