@keyframes backgroundScroll {
  0% {
    background-position: 99% 1%;
  }
  20% {
    background-position: 1% 50%;
  }
  40% {
    background-position: 99% 99%;
  }
  60% {
    background-position: 1% 1%;
  }
  80% {
    background-position: 50% 99%;
  }
  100% {
    background-position: 99% 1%;
  }
}

.backdropImage {
  background-size: 150% 150%;
  background-position: 99% 1%;
  animation: backgroundScroll 210s ease;
  animation-iteration-count: infinite;
}
