.skinHeader-withBackground {
    background-color: transparent;
}

/*Pages the have single unit height taskbar*/
@media all and (min-width: 100em){
  #indexPage,
  #moviesPage,
  #tvRecommendedPage,
  #musicRecommendedPage {
    margin-top: 68px;
    padding-top: 0px !important;
    overflow-y: scroll;
  }
}

/*Pages the have two unit height taskbar*/
@media all and (max-width: 100em){
  #indexPage,
  #moviesPage,
  #tvRecommendedPage,
  #musicRecommendedPage {
    margin-top: 130px;
    padding-top: 0.5em !important;
    overflow-y: scroll;
  }
}

.force-scroll {
    overflow-y: auto;
    overflow-x: auto;
}
